<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stylec.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
  <div class="boody" style="color: black; background: blueviolet">
    <nav>
      <div class="menu-item"><a href="" class="lien" >Home</a></div>
      <div class="menu-item"><a href="" class="lien" >About</a></div>
      <div class="menu-item"><a href="" class="lien" >Services</a></div> 
      <div class="menu-item"><a href="" class="lien" >Contact</a></div>  
    </nav>

    <div class="jhdjkzaduz" style="margin: 100px">
      <div class="contenaire">
        <% jobs.forEach(job => { %>
            <div class="sous_cont1" id=<%= job.id %> >
                <div class="content1">
                  <img src=<%= job.image %>  id="picture1">
                </div>
                <div class="content2">
                    <h3><span class="span2"><%= job.title[0] %></span><%= job.title.slice(1, job.title.length) %></h3>
                    <div class="content22">
                        <div class="location">
                            <p><img src="logo/icons8-region-25.png" alt=""><%= job.ville %></p>
                            <div class="emplois">
                                <% job.prerequis.forEach(e => { %>
                                    <p class="maison"><%= e %> </p>
                                <% }) %>
                            </div>
                            <p>Description <br>
                                <span class="span2">Lorem ipsum dolor sit amet consectetur, adipisicing elit</span></p>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    </div>

  </div>
  <div class="messages">
    <div class="container">
      <div class="chat_box">
        <div class="head">
          <div class="user">
            <div class="avatar">
              <img src="https://picsum.photos/g/40/40" />
            </div>
            <div class="name">Moi</div>
          </div>
        </div>
        <div class="body">
          <div class="incoming">
            <div class="bubble">
              <p>Hey, Father's Day is coming up..</p>
            </div>
            <div class="bubble">
              <p>What are you getting.. Oh, oops sorry dude.</p>
            </div>
          </div>
          <div class="outgoing">
            <div class="bubble lower">
              <p>Nah, it's cool.</p>
            </div>
            <div class="bubble">
              <p>Well you should get your Dad a cologne. Here smell it. Oh wait! ...</p>
            </div>
          </div>
        </div>
        <div class="foot">
          <input type="text" class="msg" placeholder="Type a message..." />
          <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>